In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline

In [6]:
data= pd.read_csv("C:\\Users\\devesh\\Desktop\\Git Repositories\\Python-Notes\\Predictive Modeling\\Life Expectancy Data.csv")

In [7]:
data.shape

(2938, 22)

In [72]:
data= pd.get_dummies(data)

In [73]:
data.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,0,0,0,0,0,0,0,0,0,1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,0,0,0,0,0,0,0,0,0,1
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,0,0,0,0,0,0,0,0,0,1
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,0,0,0,0,0,0,0,0,0,1
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,0,0,0,0,0,0,0,0,0,1

In [74]:
train= data[0:1999]

In [75]:
train.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,0,0,0,0,0,0,0,0,0,1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,0,0,0,0,0,0,0,0,0,1
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,0,0,0,0,0,0,0,0,0,1
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,0,0,0,0,0,0,0,0,0,1
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,0,0,0,0,0,0,0,0,0,1

In [76]:
test=data[2000:]

In [77]:
test.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Country_Uruguay,Country_Uzbekistan,Country_Vanuatu,Country_Venezuela (Bolivarian Republic of),Country_Viet Nam,Country_Yemen,Country_Zambia,Country_Zimbabwe,Status_Developed,Status_Developing
2000,2006,72.3,161.0,3,5.61,26.180724,92.0,0,43.5,4,...,0,0,0,0,0,0,0,0,0,1
2001,2005,72.1,163.0,3,6.38,20.680373,92.0,0,42.8,4,...,0,0,0,0,0,0,0,0,0,1
2002,2004,71.9,165.0,3,6.20,20.600830,9.0,0,42.0,4,...,0,0,0,0,0,0,0,0,0,1
2003,2003,71.7,166.0,4,6.64,155.423308,86.0,0,41.3,4,...,0,0,0,0,0,0,0,0,0,1
2004,2002,71.5,168.0,4,5.66,152.829397,NaN,0,4.6,4,...,0,0,0,0,0,0,0,0,0,1

In [78]:
x_train= train.drop(columns='Schooling', axis=1)

In [79]:
y_train= train['Schooling']

In [80]:
x_test= test.drop(columns='Schooling', axis=1)

In [81]:
true_p= test['Schooling']

In [82]:
from sklearn.linear_model import LinearRegression

In [83]:
lreg= LinearRegression()

In [84]:
lreg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [85]:
#  scikit learn doesnt take string value, so we will
#  convert the string type variables to floating type by using
#  Dummification

In [86]:
x_train= pd.get_dummies(x_train)

In [87]:
x_train.shape

(1999, 214)

In [88]:
x_test= pd.get_dummies(x_test)

In [89]:
x_test.shape

(938, 214)

In [90]:
lreg.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [91]:
# scikit learn cant process NaN values 
# so we will impute the missing values using the fillna function

In [92]:
x_train.fillna(0,inplace= True)

In [93]:
x_test.fillna(0,inplace= True)

In [94]:
lreg.fit(x_train,y_train)

LinearRegression()

In [95]:
# now will predict using the test dataset

In [99]:
# this might be because of the presence of different categories in train and test
# we will solve this by performing dummification on the entire subset
# going up and changing...

In [100]:
pred= lreg.predict(x_test)

In [101]:
# done !!

In [102]:
# performance of our model - r^2
# R-squared is a goodness-of-fit measure for linear regression models.

In [105]:
lreg.score(x_test, true_p)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [106]:
true_p.fillna(0, inplace=True)

C:\Users\devesh\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [107]:
lreg.score(x_test, true_p)   # test dataset

0.4721922425213194

In [104]:
lreg.score(x_train,y_train)   # train dataset

0.9497785402235219

In [108]:
## so comparatively our performance dropped on the test dataset

In [109]:
## maybe we overfitted our training dataset

In [110]:
## or the test dataset is not a representative sample of our training dataset

## Evaluating the model by RMSE

In [111]:
(true_p - pred)

2000    0.428052
2001    0.704117
2002    0.719658
2003    1.348738
2004    1.150308
          ...
2933   -0.635194
2934   -0.281771
2935   -0.243860
2936    0.030360
2937   -0.147402
Name: Schooling, Length: 938, dtype: float64

In [113]:
rmse_test= np.sqrt(np.mean(np.power((np.array(true_p)-np.array(pred)),2)))

In [114]:
rmse_train= np.sqrt(np.mean(np.power((np.array(y_train)-np.array(lreg.predict(x_train))),2)))

In [115]:
print(rmse_train)
print(rmse_test)

0.9171619101673251
3.321395135622936