In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [9]:
data= pd.read_csv("C:\\Users\\devesh\\Desktop\\Git Repositories\\Python-Notes\\Predictive Modeling\\Life Expectancy Data.csv")

In [10]:
data.shape

(2938, 22)

In [11]:
data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [12]:
train= data[0:1999]

In [13]:
test=data[2000:]

In [14]:
test.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2000,Paraguay,2006,Developing,72.3,161.0,3,5.61,26.180724,92.0,0,...,98.0,6.43,98.0,0.2,189.715390,5882796.0,2.2,2.2,0.648,12.1
2001,Paraguay,2005,Developing,72.1,163.0,3,6.38,20.680373,92.0,0,...,96.0,6.70,96.0,0.2,157.145691,5795494.0,2.3,2.2,0.646,12.3
2002,Paraguay,2004,Developing,71.9,165.0,3,6.20,20.600830,9.0,0,...,92.0,5.78,92.0,0.2,148.527976,57374.0,2.3,2.2,0.639,12.1
2003,Paraguay,2003,Developing,71.7,166.0,4,6.64,155.423308,86.0,0,...,86.0,5.99,86.0,0.1,1174.779347,56795.0,2.4,2.3,0.642,12.7
2004,Paraguay,2002,Developing,71.5,168.0,4,5.66,152.829397,NaN,0,...,87.0,6.77,87.0,0.1,1148.229882,558611.0,2.4,2.3,0.632,12.2

In [18]:
x_train= train.drop(columns='Life expectancy', axis=1)

KeyError: "['Life expectancy'] not found in axis"

In [ ]:
y_